*{
    padding: 0;
    margin:0;
}


.helloo{
    display: flex;
    flex-direction: column;
    height:200px;
    width:200px;
    outline:1px solid black;
    margin-top: 5px;
    background-color: pink;

}

.container1 p{
    font-size: 15px;
    text-align: center;
    padding-top: 4px;
}

.days{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-around;
    padding-top: 10px;
}


.container1{
     display:flex;
     flex-direction: column;
    
}

.container2{
    display:flex;
    height:120px;   

}

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100px;
    border-right:1px solid black;
    font-size: 10px;
    width:30px;
}

.row1 p{
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    color:brown;
    display: flex;
    height:30px;
}

.msg{
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}

#yes{
    border-right: none;
}

.classic{
    display:flex;
    flex-direction: column;
    background-color: beige;
    width:100%;
    height:60vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#start{
    width:200px;
    height:30px;
    font-size: 18px;
}

.spirit{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30vh;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}






